/*-----------TAG SELECTORS-----------*/
@font-face {
    font-family: lato;
    src: url(Fonts/lato.light.ttf);
}

body{
    background-color: #202424;
}

hr{
    background-color: #bfd1d4;
    border-style: none;
    border-top: dotted;
    border-width: 2px;  
}
a{
    font-size: large;
    color: #E7F6F2;
    font-family: lato;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

p{
    color: #E7F6F2;
    font-family: lato;
}
table{
    color: #E7F6F2;
    font-family: lato;
}

h1{
    color: #E7F6F2;
    font-family: lato;
}

h2{
    color: #E7F6F2;
    font-family: lato;
}
h3{
    color: #E7F6F2;
    font-family: lato;
}
h4{
    color: #E7F6F2;
    font-family: lato;
}
ol{
    color: #E7F6F2;
    font-family: lato;
}
li{
    color: #E7F6F2;
    font-family: lato;
    
}

/*-----------CLASS SELECTORS-----------*/
.navbar:hover{
    font-size: large;
    color: #7ec3d6;
    font-family: lato;
    text-decoration: none;
    cursor: pointer;
}

.cyberseclink{
    font-size: large;
    color: white;
    font-family: lato;
    text-decoration: none;
    cursor: pointer;
}


/*-----------ID SELECTORS-----------*/
#nametitle{
    font-size: xx-large;
    color: #E7F6F2;
    font-family: lato;
    text-decoration: none;
    cursor: pointer;
}